<main class="main-container">
    <section class="login">
        <article class="login__card">
            <img class="login__img" src="images/logo-login.png" alt="Bon Appétit restaurant logo">
            <form [formGroup]="loginForm" class="login__form">

                <app-form-group label="Nombre de Usuario" placeholder="Su nombre de usuario" [control]="usernameControl"
                    type="text" id="username" [isSubmitted]="isSubmitted">
                </app-form-group>

                <app-form-group label="Contraseña" placeholder="Su contraseña" [control]="passwordControl"
                    type="password" id="password" [isSubmitted]="isSubmitted">
                </app-form-group>

                <button (click)="onSubmit($event)" class="login__button" type="submit">Iniciar Sesión</button>
            </form>
        </article>
    </section>
</main>