<menu class="menu" role="menubar">
    <div class="menu__logo">
      <li class="menu__item">
        <a href="">
          <i class="menu__item menu__item-icon" aria-hidden="true">
            <a [routerLink]="'/'">
              <img src="./logo.png" />
            </a>
          </i>
        </a>
      </li>
    </div>
    <div class="menu__navigation">
      <li class="menu__item">
        <a [routerLink]="'/dishes'">
          <span>Platos</span>
        </a>
      </li>
      <li class="menu__item">
        <a [routerLink]="'/menus'">
          <span>Menus</span>
        </a>
      </li>
      <li class="menu__item">
        <a [routerLink]="'/orders'">
          <span>Pedidos</span>
        </a>
      </li>
      <li class="menu__item">
        <a [routerLink]="'/clients'">
          <span>Clients</span>
        </a>
      </li>
    </div>
  </menu>