<menu class="menu" role="menubar">
    <div class="menu__logo">
      <li class="menu__item">
        <a href="">
          <i class="menu__item menu__item-icon" aria-hidden="true">
            <img src="./logo.png" />
          </i>
        </a>
      </li>
    </div>
    <div class="menu__navigation">
      <li class="menu__item">
        <a [routerLink]="'/clients'">
          <span>Platos</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="/menus.html">
          <span>Menus</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="/orders.html">
          <span>Pedidos</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="/clients.html">
          <span>Clients</span>
        </a>
      </li>
    </div>
  </menu>