<section class="client-page" aria-labelledby="client-page-heading">
    <header class="client-page__header">
        <h1 id="client-page-heading" class="client-page__title">Gestión de Clientes</h1>
        <p class="client-page__description">
            Aquí encontrarás la lista de clientes registrados en el sistema. Puedes gestionar sus datos con las opciones
            disponibles.
        </p>
        <a routerLink="/add-client">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M16 19h6"></path>
                <path d="M19 16v6"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
              </svg>
            </i>
        </a>
    </header>

    <section class="client-page__list">
        <app-client-table></app-client-table>
    </section>
</section>

