$background-color: #151515;
$primary-color: #252440;
$secondary-color: #2a2a3f;
$green: #28a745;
$gray: #adadad;
$radial-gradient: radial-gradient(86% 100% at 10% 9%, #fad4f3 0%, #ee84d6 60%, #00aeaa 90%);
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
$white-transparent: rgba(255, 255, 255, 0.685);
$white: #fff;
$black: #000;
$red: #ff0000;
$dark-gray: #333;