<div class="dishes-table">
    <h2 class="dishes-table__title">Lista de Platos</h2>
    <button class="dishes-table__button dishes-table__button--add" (click)="openModal(null)">
      Agregar Plato
    </button>
    <div *ngIf="dishes.length > 0; else noDishes">
      <table class="dishes-table__table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dish of dishes">
            <td>{{ dish.name }}</td>
            <td>{{ dish.price | currency }}</td>
            <td>{{ dish.type }}</td>
            <td>
              <button (click)="openModal(dish)" class="dishes-table__button dishes-table__button--edit">
                Editar
              </button>
              <button (click)="deleteDish(dish.id)" class="dishes-table__button dishes-table__button--delete">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noDishes>
      <p>No hay platos registrados</p>
    </ng-template>
  
    <app-dish-modal
      *ngIf="isModalOpen"
      [dish]="selectedDish"
      (save)="saveDish($event)"
      (cancel)="closeModal()"
    ></app-dish-modal>
  </div>
  