<section class="content">
  <h1>Clientes</h1>
  <table class="content__table">
    <thead class="content__head">
      <tr>
        <th>ID Cliente</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Es Frecuente</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="content__body">
      @for(client of clients; track client.id){
      <tr class="content__cliente">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.numberPhone}}</td>
        <td>
          @if(client.isFrecuent){
          <p class="content__items--frecuent-true">
            {{client.isFrecuent ? 'Si' : 'No'}}
          </p>
        }@else{
          <p class="content__items--frecuent-false">
            {{ client.isFrecuent ? 'Si' : 'No' }}
          </p>
        }
        </td>
        <td>
          <app-botton-edit  [id]="client.id" (editEvent)="editClient(client.id)"></app-botton-edit>
          <app-botton-delete [id]="client.id" (deleteEvent)="deleteClient($event)"></app-botton-delete>
        </td>
      </tr>
      }

    </tbody>
  </table>
</section>
