<div class="confirmation-dialog">
    <div class="confirmation-dialog__content">
        <p class="confirmation-dialog__message">{{ message }}</p>
        <div class="confirmation-dialog__buttons">
            <button class="confirmation-dialog__button confirmation-dialog__button--confirm"
                (click)="onConfirm()">Confirmar</button>
            <button class="confirmation-dialog__button confirmation-dialog__button--cancel"
                (click)="onCancel()">Cancelar</button>
        </div>
    </div>
</div>