<section class="section">
    <div class="container section__content" >
        <div class="section__content-header section__content-header--clients-img">
            <figure class="section__content-container">
                <img src="./logo.png"/>
                <h1 class="container__content-title">Gusteau's Clients Details</h1>
                <button class="container__content-btn container__content-btn--add">Add Order</button>
            </figure>
        </div>
        <table class="container__content-table">
            <thead class="container__content-table-header">
                <tr>
            @for (tableContent of tableContent(); track $index) {
                <th class="">{{tableContent}}</th>
            }
        </tr>
    </thead>
    <tbody class="container__content-table-body">
        @for (data of userData(); track $index) {
            <tr [id]="$index">
                        <td [id]="$index">{{data.id}}</td>
                        <td [id]="$index">{{data.email}}</td>
                        <td [id]="$index">{{data.name}}</td>
                        <td [id]="$index">{{data.totalOrders}}</td>
                        <td [id]="$index">{{data.userType}}</td>
                        
                        <td class="container__content-table-actions">
                            <button class="container__content-btn container__content-btn--edit">Edit</button>
                            <button class="container__content-btn container__content-btn--delete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>