

<main>
    <section class="section section--order-details">
        <div class="container section__content">
            <div class="section__content-header section__content-header--clients-img">
                <div class="section__content-container">
                    <img src="./logo.png" />
                    <h1>Gusteau's Clients Details</h1>
                    <button class="btn">Add Order</button>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Client ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Total Orders</th>
                        <th>user Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>juan.com</td>
                        <td>Juan Esteban</td>
                        <td>20</td>
                        <td>REGULAR</td>
                        <td class="actions">
                            <button class="btn btn-edit">Edit</button>
                            <button class="btn btn-delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>pedro.com</td>
                        <td>Pedro</td>
                        <td>100</td>
                        <td>FREQUENT</td>
                        <td class="actions">
                            <button class="btn btn-edit">Edit</button>
                            <button class="btn btn-delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>juan.com</td>
                        <td>Juan Esteban</td>
                        <td>20</td>
                        <td>FREQUENT</td>
                        <td class="actions">
                            <button class="btn btn-edit">Edit</button>
                            <button class="btn btn-delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>