<section class="dish-component">
    <header class="dish-component__header">
      <h1 class="dish-component__title">Listado de Platos</h1>
      <p class="dish-component__description">Aquí puedes ver todos los platos disponibles en el menú.</p>
      <a routerLink="/add-dish" class="menu-list__add-button">
        <i>
          <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" style="fill: rgba(47, 45, 43, 1);transform: rotate(180deg);"><path d="M4 22h12v-2H4V8H2v12c0 1.103.897 2 2 2z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm-2 9h-3v3h-2v-3h-3V9h3V6h2v3h3v2z"></path></svg>
        </i>
      </a>
    </header>
      <section class="dish-component__list">
        <app-dish-table></app-dish-table>
      </section>  
  </section>
  
