<aside class="aside">
    <a routerLink="/home" class="aside__logo">
        <img src="./images/logo-full.svg" alt="Restaurant Logo" width="200px"/>
    </a>
    <nav class="aside__nav">
        <menu>
            <li><a routerLink="/client" routerLinkActive="active">Cliente</a></li>
            <li><a routerLink="/menu" routerLinkActive="active">Menú</a></li>
            <li><a routerLink="/dishes" routerLinkActive="active">Platos</a></li>
            <li><a routerLink="/order" routerLinkActive="active">Órdenes</a></li>
        </menu>
    </nav>
</aside>