@use '../../ui/styles/mixins.scss' as mixins;
@use '../../ui/styles/variables.scss' as variables;

.aside {
    @include mixins.flex-column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 15px 0 0 15px;
    font-weight: bold;
    background-color: variables.$primary-color;

    &__nav {
        margin-top: 100px;
        menu {
            @include mixins.flex-column;
            gap: 25px;
            list-style: none;
            
            li {
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                letter-spacing: 2px;
                padding: 20px 80px;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
    
                    &:active {
                        background-color: #fff;
                        color: #232323;
                    }
                }

            }
        }
    }
}