<header class="menu-header">
    <h2>Menus</h2>
    <button class="menu-header__button" (click)="openModal(modalTemplate)">
        <i class="menu-header__icon" aria-hidden="true">
            <svg>
                <use xlink:href="svg/plus.svg#plus"></use>
            </svg>
        </i>
        Agregar Menu
    </button>
</header>

<ng-template #modalTemplate>
    <p>Ingresa el nombre de tu nuevo Menu</p>
    <input class="modal-input" [(ngModel)]="menuName" placeholder="Nombre del menu" />
</ng-template>