.options{
    padding: 20px 0;
    &__add-button{
        background-color: #59d759;
        color: #fff;
        font-size: 15px;
        padding: 5px;
        width: 160px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        & svg{
            width: 15px;
            height: 15px;
        }
    }
}   