<div class="card">
  <h3 class="card__name">{{ menu.name }}</h3>
  <p class="card__subtitle">Dishes</p>
  <ol>
    @for (dish of menu.dishes; track $index) {
    <li>
      {{ dish.name }} - {{ dish.price | currency : "USD" : "symbol" : "1.2-2" }}
    </li>
    }
  </ol>

  <app-btns-actions
    (editAction)="editMenu()"
    (deleteAction)="openModal()"
  ></app-btns-actions>

  @if (isModalOpen) {
  <app-confirm-model
    [title]="'Confirm Deletion'"
    [message]="'Are you sure you want to delete this dish?'"
    (confirm)="confirmDelete()"
    (cancel)="closeModal()"
  ></app-confirm-model>
  }
</div>
