<main class="menu">
    <table class="menu__table">
        <thead>
            <tr>
                @for (header of getHeaders(); track header.label) {
                <th>{{ header.label }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (menu of menus; track menu.idMenu) {
            <tr>
                <td>{{ menu.idMenu }}</td>
                <td>{{ menu.menuName }}</td>
                <td>
                    <button class="accordion" (click)="toggleAccordion($event)">Ver platos del Menu</button>
                    <div class="panel">
                        <ul class="panel__list">
                            @for (dish of menu.dishes; track dish.idDish) {
                            <li>- {{ dish.dishName }}</li>
                            }
                        </ul>
                    </div>
                </td>
                <td class="menu__action">
                    @for (action of getActions(); track action.label) {
                    <a class="menu__button menu__button--{{ action.type }}"
                        (click)="openModal(modalTemplate, action.type, menu.idMenu)">
                        <i class="menu__icon" aria-hidden="true">
                            <svg>
                                <use [attr.xlink:href]="action.icon"></use>
                            </svg>
                        </i>
                        {{ action.label }}
                    </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>

<ng-template #modalTemplate>
    <div *ngIf="modalType === 'edit'; else deleteContent">
        <h3>Editar Menú</h3>
        <label for="menuName">Nombre del Menú:</label>
        <input [(ngModel)]="menuName" id="menuName" placeholder="Nuevo nombre del menú" />
    </div>
    <ng-template #deleteContent>
        <p>¿Estás seguro de que deseas eliminar este menú?</p>
    </ng-template>
</ng-template>