<div class="modal" [class.modal--open]="isOpen">
  <div class="modal__overlay" (click)="close()"></div>

  <div class="modal__content">
    <button class="modal__close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <h2 class="modal__title">Actualizar menú</h2>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="modal__form">
      <div class="modal__form-group">
        <input
          type="text"
          formControlName="name"
          class="modal__input"
          placeholder="nombre del menú"
        />
      </div>

      <div class="modal__form-group">
        <input
          type="email"
          formControlName="description"
          class="modal__input"
          placeholder="descripción del menú"
        />
      </div>

      <div class="modal__form-group--select">
        <select
          formControlName="dishIds"
          multiple
          class="modal__input"
          placeholder="platos"
        >
          <option value="" disabled>Selecciona los platos</option>
          @for(dish of this.platos; track $index) {
          <option value="{{ dish.id }}">{{ dish.name }}</option>
          }
        </select>
      </div>

      <button type="submit" class="modal__submit">Crear</button>
    </form>
  </div>
</div>
