@use "../../../assets/styles/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: $white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05), -1px 0 2px rgba(0, 0, 0, 0.05),
    0 1px 2px rgba(0, 0, 0, 0.05), 0 -1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $dark;
    margin-right: 10px;
  }

  &__group {
    display: flex;
    align-items: center;

    & fa-icon {
      color: green;
      margin-right: 5px;
    }
  }

  &__logout {
    padding: 8px 12px;
    background-color: #f44336;
    color: $white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
