<section class="content">
  <h1>Ordenes</h1>
  <table class="content__table">
    <thead class="coontent__head">
      <tr>
        <th>ID Orden</th>
        <th>Total Precio</th>
        <th>Estado de la Orden</th>
        <th>Nombre del Cliente</th>
        <th>Teléfono del Cliente</th>
        <th>Platos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="content__body">
      @for(orden of ordenes; track orden.id){
      <tr class="content__orden">
        <td>{{ orden.id }}</td>
        <td>{{ orden.priceTotal | currency}}</td>
        <td>
          <button type="button" [class]="getButtonClass(orden.statusOrder)" (click)="changeStatus(orden)">
            {{ orden.statusOrder }}
          </button>
        </td>
        <td>{{ orden.client.name }}</td>
        <td>{{ orden.client.numberPhone }}</td>
        <td>
          <ul class="content__items">
            @for(item of orden.items; track item.id){
            <li><strong>Nombre:</strong> {{ item.dish.name }},</li>
            <li><strong>Precio:</strong>  {{ item.dish.price | currency}},</li>
            <li><strong>Cantidad:</strong> {{ item.quantity }}</li>
            }
          </ul>
        </td>
        <td>
            <app-botton-edit  [id]="orden.id" (editEvent)="editOrden(orden.id)"></app-botton-edit>
            <app-botton-delete [id]="orden.id" (deleteEvent)="deleteOrden($event)"></app-botton-delete>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
