@use '../../../../ui/styles/variables.scss' as vr;
@use '../../../../ui/styles/mixins.scss' as mx;

.form{
    @include mx.flex-container(center, center, 20px, column);
    position: relative;
    top:-80px;
    max-height: 60%;
    min-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;

    &__container{
        @include mx.flex-container(center, center);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0000002b;
        z-index: 100;
    }

    &__header{
        margin-bottom: 20px;
    }

    &__button-close{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        border: none;
        background: none;

        &:hover{
            background-color: #ddd;
        }
    }

    &__title{
        font-size: 30px;
    }

    &__content{
        @include mx.flex-container(start, center,10px, column);
    }

    &__button{
        width: 100px;
        padding: 5px;
        background: rgb(89, 215, 89);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 500;
        border: none;
        border-radius: 100px;
        box-shadow: 1px 1px 8px #0000003f;
        cursor: pointer;

        
        &:disabled{
            background: rgb(83, 199, 83);           
            color: rgb(211, 211, 211);
            cursor:auto;
        }
        
        &:hover{
            background: rgb(83, 199, 83);                
        }

        &--dynamic{
            padding: 8px 5px;
            width: 100px;
            font-size: 12px;
            background: #345995;
            &:hover{
                background: #274370;                
            }
        }
    }
}