.table{
    background: #fff;
    border-radius: 6px;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 1px -3px 10px #00000028;
    width: 100%;
    max-width: 100%;

    &__column{
        &:hover{
            background-color: #ddd;
        }
    }

    &__title{
        padding: 10px;
        font-weight: 600;
        background-color: #000;
        color: #fff;
        border: none;
    }
    
    &__item{
        padding: 8px 30px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    &__button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        margin: 0 6px;
        
        &--update{
            background: #ffa400;
            color: #fff;
        }

        &--delete{
            background: #fe4a49;
            color: #fff;
        }

        & svg{
            width: 18px;
            height: 18px;
        }
    }
}