<main>
    <menu class="menu">
        <a class="menu__item" href="#">
            <i aria-hidden="true">
                <svg>
                    <use xlink:href="svg/dashboard.svg#dashboard"></use>
                </svg>
            </i>
            <li>Panel de inicio</li>
        </a>
        <a class="menu__item" href="#">
            <i aria-hidden="true">
                <svg>
                    <use xlink:href="svg/menu.svg#menu"></use>
                </svg>
            </i>
            <li>Menus</li>
        </a>
        <a class="menu__item" href="#">
            <i aria-hidden="true">
                <svg>
                    <use xlink:href="svg/dish.svg#dish"></use>
                </svg>
            </i>
            <li>Platos</li>
        </a>
        <a class="menu__item" href="#">
            <i aria-hidden="true">
                <svg>
                    <use xlink:href="svg/client.svg#client"></use>
                </svg>
            </i>
            <li>Clientes</li>
        </a>
        <a class="menu__item" href="#">
            <i aria-hidden="true">
                <svg>
                    <use xlink:href="svg/order.svg#order"></use>
                </svg>
            </i>
            <li>Ordenes</li>
        </a>
    </menu>
</main>