@use "../../../ui/styles/variables.scss" as var;
@use "../../../ui/styles/mixins.scss" as mix;

.slider__container {
  @include mix.container(var.$spacing-medium, 1270px);
  position: relative;
  overflow: hidden;
}

.slider {
  @include mix.flex(row, flex-start, stretch, var.$spacing-small);
  @include mix.transition(transform, 0.3s);
}

.card {
  @include mix.size(calc(100% / 3 - var.$spacing-small), 210px);
  background-color: var.$primary-color;
  color: var.$color-text-light;
  @include mix.flex(center, center);
  @include mix.border-shadow(var.$border-radius-small, 0 4px 6px rgba(0, 0, 0, 0.1));
  font-size: var.$font-size-medium;
  min-width: 200px;
  max-width: 360px;

  img {
    @include mix.size(100%, auto);
    object-fit: cover;
    border-radius: var.$border-radius-small;
  }

  &:hover {
    animation: vibrate 0.5s linear both;
  }
}

.slider {
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include mix.size(40px);
    @include mix.border-shadow(50%);
    @include mix.button-style(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), var.$color-text-light);
    z-index: 1;
    cursor: pointer;
  }

  &__btn--left {
    left: 10px;
  }

  &__btn--right {
    right: 10px;
  }
}

@keyframes vibrate {
  0%, 100% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
}
