<label class="label" [formGroup]="formGroup()">

    <span class="label__span">{{span()}}</span>
    @switch (typeOf()) {

    @case ('multiselect') {
    <select class="label__input" [formControlName]="formControlName()" (change)="addTag(handleSelectChange($event))">
        <option value="" disabled selected>{{ placeholder() }}</option>
        @for (option of options(); track $index) {
        <option [value]="option.value">{{option.label}}</option>
        }
    </select>
    
    <div class="label__container">
        @for (tag of selectedTags; track $index) {
        <span class="label__tags">
            {{ tag.label }}
            <button type="button" class="label__button" (click)="removeTag(tag.value)">×</button>
        </span>
        }
        <h3 class="label__span">Precio Total: {{ totalPrice() | currency:'USD':'symbol':'1.2-2' }}</h3>
    </div>
    }

    @case ('select') {
    <select class="label__input" [formControlName]="formControlName()">
        <option value="" disabled selected>{{ placeholder() }}</option>
        @for (option of options(); track $index) {
        <option [value]="option.value">{{option.label}}</option>
        }
    </select>
    }

    @case ('textarea') {
    <textarea class="label__input" [formControlName]="formControlName()" [placeholder]="placeholder()"></textarea>
    }

    @default {
    <input class="label__input" [formControlName]="formControlName()" [type]="typeOf()" [placeholder]="placeholder()">
    }
    }


</label>