<label class="label" [formGroup]="formGroup()">
    <span class="label__span">{{span()}}</span>
    @if (isMultiline()) {
        <textarea class="label__input" [formControlName]="formControlName()" [placeholder]="placeholder()"></textarea>
    } @else {
        <input class="label__input" [formControlName]="formControlName()" [type]="typeOf()" [placeholder]="placeholder()">
    }
    <span class="label__error">
        @if (notValid()) {
            {{errorMessage}}
        }
    </span>
</label>