.actions {
  &__button {
  height: 100%;
  border: none;
  display: flex;
  left: 100%;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  }
}

.icon use {
    transform: scale(1.1); 
  }