<div class="bento">
    <article class="bento__item">
        <svg>
            <use xlink:href="svg/order.svg#order"></use>
        </svg>
        <div>
            <h3>Ordenes totales</h3>
            <h2>27 ordenes</h2>
        </div>
    </article>
    <article class="bento__item">
        <svg>
            <use xlink:href="svg/order.svg#order"></use>
        </svg>
        <div>
            <h3>Menus agregados</h3>
            <h2>27 ordenes</h2>
        </div>
    </article>
    <article class="bento__item">
        <svg>
            <use xlink:href="svg/order.svg#order"></use>
        </svg>
        <div>
            <h3>Platos agregados</h3>
            <h2>27 ordenes</h2>
        </div>
    </article>
    <article class="bento__item">
        <svg>
            <use xlink:href="svg/order.svg#order"></use>
        </svg>
        <div>
            <h3>Ventas</h3>
            <h2>27 ordenes</h2>
        </div>
    </article>
    <article class="bento__item">
        <svg>
            <use xlink:href="svg/order.svg#order"></use>
        </svg>
        <div>
            <h3>Lista de Clientes</h3>
            <h2>27 ordenes</h2>
        </div>
    </article>
</div>