<div class="modal">
    <div class="modal__content">
        <!-- <button class="modal__close" (click)="onClose()">×</button> -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-input-field label="Nombre" [control]="nameControl" placeholder="Ej: Juan"
                [errorMessages]="{ required: 'El nombre es obligatorio.', minlength: 'Debe tener al menos 3 caracteres.' }"></app-input-field>

            <app-input-field label="Apellido" [control]="lastNameControl" placeholder="Ej: Pérez"
                [errorMessages]="{ required: 'El apellido es obligatorio.', minlength: 'Debe tener al menos 3 caracteres.' }"></app-input-field>

            <app-input-field label="Email" [control]="emailControl" placeholder="Ej: juan.perez@example.com"
                [type]="'email'"
                [errorMessages]="{ required: 'El email es obligatorio.', email: 'Debe ser un email válido.' }"></app-input-field>

            <app-input-field label="Teléfono" [control]="phoneControl" placeholder="Ej: 1234567890"
                [errorMessages]="{ required: 'El teléfono es obligatorio.', minlength: 'Debe tener al menos 10 caracteres.' }"></app-input-field>

            <button class="customer-form__submit" type="submit" [disabled]="form.invalid">Agregar Cliente</button>
        </form>
    </div>
</div>