<section class="dashboard">
  <div class="dashboard__image">
      <img src="./chefcito.png" alt="Gusteaus Management System Logo">
  </div>
  <div>
      <h1>Gusteaus Management System</h1>
  </div>
  <div class="dashboard__stats">
      <div class="dashboard__stat">
          <h2 class="dashboard__stat-title">Total Clients</h2>
          <div class="dashboard__stat-value">2</div>
          <div class="dashboard__stat-graph" style="--percentage: 33.33%"></div>
      </div>
      <div class="dashboard__stat">
          <h2 class="dashboard__stat-title">Total Orders</h2>
          <div class="dashboard__stat-value dashboard__stat-value--highlighted">250</div>
          <div class="dashboard__stat-graph dashboard__stat-graph--high" style="--percentage: 100%"></div>
      </div>
      <div class="dashboard__stat">
          <h2 class="dashboard__stat-title">Total Dishes</h2>
          <div class="dashboard__stat-value">2</div>
          <div class="dashboard__stat-graph dashboard__stat-graph--low" style="--percentage: 20%"></div>
      </div>
      <div class="dashboard__stat">
          <h2 class="dashboard__stat-title">Total Menus</h2>
          <div class="dashboard__stat-value">2</div>
          <div class="dashboard__stat-graph dashboard__stat-graph--low" style="--percentage: 20%"></div>
      </div>
  </div>
</section>