<section class="section">
    <div class="main__image">
      <img src="./chefcito.png" alt="">
    </div>
    <div>
      <h1>Gusteaus Management System</h1>
    </div>
    <div class="stats-container">
      <div class="stat-item">
        <h2>Total Clients</h2>
        <div class="stat-value">2</div>
        <div class="stat-graph" style="--percentage: 33.33%"></div>
      </div>
      <div class="stat-item">
        <h2>Total Orders</h2>
        <div class="stat-value">250</div>
        <div class="stat-graph" style="--percentage: 100%"></div>
      </div>
      <div class="stat-item">
        <h2>Total Dishes</h2>
        <div class="stat-value">2</div>
        <div class="stat-graph" style="--percentage: 20%"></div>
      </div>
      <div class="stat-item">
        <h2>Total Menus</h2>
        <div class="stat-value">2</div>
        <div class="stat-graph" style="--percentage: 20%"></div>
      </div>
    </div>
  </section>