<div class="register">
    
    <h1 class="register__title">Create Account</h1>
    
    @if (registerForm) {
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form">
        
        <input 
          type="email" 
          formControlName="email"
          class="register__input"
          placeholder="Email">
          
        <input 
          type="password" 
          formControlName="password"
          class="register__input"
          placeholder="Password">
          
        <button type="submit" class="register__button">
          Register
        </button>
      </form>

      <div class="register__login">
        <p>Already have an account? 
          <button class="register__login-link" (click)="switchMode.emit()">
            Login here
          </button>
        </p>
      </div>
    }

  </div>