.table{
    background: #fff;
    border-radius: 6px;
    border-spacing: 0;
    overflow: hidden;

    &__column{
        &:hover{
            background-color: #ddd;
        }
    }

    &__title{
        padding: 10px;
        font-weight: 600;
        background-color: #000;
        color: #fff;
        border: none;
    }
    
    &__item{
        padding: 8px 30px;
        border-bottom: 1px solid #ddd;
    }

    &__button{        
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        margin: 0 6px;
        
        &--update{
            background: #ffa400;
            color: #fff;
        }

        &--delete{
            background: #fe4a49;
            color: #fff;
        }

        & svg{
            width: 18px;
            height: 18px;
        }
    }
}

.options{
    padding: 20px 0;
    &__add-button{
        background-color: #59d759;
        color: #fff;
        font-size: 15px;
        padding: 5px;
        width: 160px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        & svg{
            width: 15px;
            height: 15px;
        }
    }
}