<app-tabs title="Clients Data " [tabs]="tabsList" >
    <div  class="tab__content tab__content--form" tabContent0>

        <form [formGroup]="clientForm" (ngSubmit)="submit()" class="form__client" aria-label="form to add Client" aria-labelledby="form to add Client">

            <app-form [formFields]="fields" [formGroup]="clientForm">
            </app-form>
            <button type="submit" class="form__button form__button--submit">Iniciar Sesión</button>
        </form>
        
    </div>
    <div  class="tab__content"  tabContent1>
        <app-table title="Clients" [data]="listClients" (deleteId)="deleteClient($event)"
            (updateId)="getClient($event)"></app-table>
    </div>

</app-tabs>

@if(showModal){

<app-cliente-modal [showModalClient]="showModal"  (closeModalclient)="closeModal()" [getData]="clientData" [getClientId]="ClientId"></app-cliente-modal>
    }
