<app-tabs title="Clients Data " [tabs]="tabsList">
    <div tabContent0>

        <form [formGroup]="clientForm" (ngSubmit)="submit()">
            <!-- Reutilización del componente dinámico -->
            <app-form [formFields]="fields" [formGroup]="clientForm">
            </app-form>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form> 
    </div>
    <div tabContent1>
        <app-table title="Clients" [data]="listClients" (deleteId)="deleteClient($event)" (updateId)="updateClient($event)"></app-table>
    </div>
    <div tabContent2>Contenido de la pestaña 3</div>
</app-tabs>