<section class="section">
    <div class="container section__content">
      <div class="section__content-header section__content-header--clients-img">
        <div class="section__content-container">
            <img src="./logo.png" />
            <h1>Gusteau's Dishes Details</h1>
            <button class="btn">Add Order</button>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Dish ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Menu ID</th>
            <th>Dish Type</th>
            <th>Total Ordered</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pastas de Queso</td>
            <td>$320</td>
            <td>1</td>
            <td>POPULAR</td>
            <td>100</td>
            <td class="actions">
              <button class="btn btn-edit" id="myBtn">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Pastas de Tomate</td>
            <td>$120</td>
            <td>1</td>
            <td>REGULAR</td>
            <td>20</td>
            <td class="actions">
              <button class="btn btn-edit">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
          
          <tr>
            <td>1</td>
            <td>Rissoto de Tomate</td>
            <td>$520</td>
            <td>1</td>
            <td>REGULAR</td>
            <td>10</td>
            <td class="actions">
              <button class="btn btn-edit">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>