@use "../../../ui/styles/variables.scss" as variables;

.card {
  &__actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__btns {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;

    &---edit {
      background-color: green;
    }
    &---delete {
      background-color: red;
    }
  }
}
