<p>update-order works!</p>
<app-modal (closeModal)="closeModal()" class="update-order" class="form__update-order">
    <form form-optional [formGroup]="updateOrderForm" class="update-order__form" aria-label="form to update Order"
        aria-labelledby="form to update Order">
        <div class="update-order__group">

            <label for="menuId" class="update-order__label">Choose a Client </label>
            <select formControlName="clientId" class="update-order__select">
                @for (item of getClientData; track $index) {
                <option value="{{item.id}}">{{item.name}}</option>
                }
            </select>

        </div>
        <div class="update-order__group">
            <label for="localDate" class="update-order__label">Date:</label>
            <input id="localDate" type="date" formControlName="localDate" class="update-order__input" />
            @if(updateOrderForm.get('localDate')?.invalid && updateOrderForm.get('localDate')?.touched){
            <div>
                <small class="update-order__error-text">Date is required.</small>
            </div>
            }
        </div>
        <div class="update-order__group">

            <label for="menuId" class="update-order__label">Choose a menu option:</label>
            <select formControlName="menuId" (change)="onMenuChange($event)" class="update-order__select">
                @for (item of menus; track $index) {
                <option value="{{item.id}}">{{item.name}}</option>
                }
            </select>
        </div>
        <div class="update-order__group">
            <label for="dishfoodIds" class="update-order__label">Choose Dishes:</label>

            <select id="dishfoodIds" (change)="addDish($event)" class="update-order__select">
                <option value="" disabled selected>Select a dish</option>
                @for(item of filteredDishes; track $index) {
                <option value="{{item.id}}" (click)="addDish(item.id)">{{item.name}}</option>
                }
            </select>
        </div>
        <div class="update-order__group">
            <h3 class="update-order__subheading">Selected Dishes:</h3>
            <ul class="update-order__list">
                @for(item of dishfoodList; track $index) {
                <li class="update-order__list-item">
                    {{ getDishName(item) }}
                    <button class="update-order__remove-button" type="button" (click)="removeDish(item)">Remove</button>
                </li>
                }
            </ul>
        </div>

        <div class="update-order__actions">
            <button type="button" (click)="updateOrder()" class="update-order__submit-button">Submit Order</button>
        </div>
    </form>
</app-modal>