@use "../../../../ui/styles/variables.scss" as variables;

.card {
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: variables.$bg-color-1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &__name {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: variables.$primary-color;
  }

  p {
    font-size: 1.3rem;
    color: variables.$secondary-color;
  }

  p:last-child {
    font-weight: bold;
  }
}
