<section class="menu-restaurante" aria-label="Menú del Restaurante">
  <section class="menu_restaurante__view" aria-labelledby="viewTitle">
    <h2 id="viewTitle" class="visually-hidden">Vista del Menú</h2>
    <app-get-menu [dishes]="dishes" (editDishEvent)="editDish($event)" (addDishEvent)="addDish()"></app-get-menu>
  </section>
  <section class="menu-restaurante__add">
    <h2 id="addTitle" class="visually-hidden">Agregar Plato</h2>
    <app-modal [isVisible]="isModalVisible" (close)="closeModal()">
      <app-add-dish [dishSelect]="dishEdit" (dishUpdated)="updateDish($event)"></app-add-dish>
    </app-modal>
  </section>
</section>
