
@use "../../../../ui/styles/mixins.scss" as mixins;
@use "../../../../ui/styles/variables.scss" as vars;

main{
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.dashboard-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: vars.$color-menu;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}