<app-header aria-current="page"></app-header>

<div class="users-container">
    <div class="users-header">
        <h2 class="users-header__title">Lista de Usuarios</h2>
    </div>
    <div class="users-content">
        <button class="users-content__button" (click)="openModal()">Crear Usuario</button>
        <ul class="user-list">
            <li *ngFor="let user of users" class="user-item">
                <h3 class="user-item__title">Usuario: {{user.name}}</h3>
                <p class="user-item__document">Documento: {{user.documentId}}</p>
            </li>
        </ul>
    </div>
    <app-create-user-modal *ngIf="isModalOpen" (closeModal)="closeModal()"></app-create-user-modal>
</div>
<app-footer></app-footer>