<section class="layout">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="leftSide">
        
        <router-outlet name="left-side"></router-outlet>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div class="rightSide">
        <router-outlet name="right-side"></router-outlet>
    </div>
    <div class="footer">
        <router-outlet name="footer"></router-outlet>
        <app-sales-card title="card 1" subTitle="card 1" description="card 1"></app-sales-card>

    </div>
</section>