@use "../../utils/variables.scss" as variables;
@use "../../utils/mixin.scss" as mixin;

.content{
  padding-right: 5px;
  h1 {
    color: variables.$color-secondary;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: variables.$color-background;
    font-family: variables.$font-family-secondary;

    th, td {
      border: 1px solid variables.$color-gradients;
      padding: 12px 15px;
      text-align: left;
      vertical-align: top;
    }

    th {
      background-color: variables.$color-secondary;
      color: variables.$color-background;
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__button-edit{
    background: #5fe480;
    color: variables.$color-text;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    color: variables.$color-text;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background: variables.$color-secondary;
    }
  }
&__items {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 10px;

    p {
      margin: 0 0 5px 0;
    }
  }
}

}




