<div class="menu-card">
    <img class="menu-card__image" src="../../../../assets/images/menu-bg-one.jpg" alt="Imagen de {{ menu.name }}" />
    <div class="menu-card__content">
        <h3 class="menu-card__title">{{ menu.name }}</h3>
        <p class="menu-card__description">{{ menu.description }}</p>
        <p class="menu-card__info">Platos: {{ menu.dishes.length }}</p>
        <div class="menu-card__actions">
            <app-button text="Editar" type="secondary" icon="edit" (click)="openEditDialog()"></app-button>
            <app-button text="Eliminar" type="primary" icon="delete" (click)="openDeleteDialog()"></app-button>
        </div>
    </div>
    <app-dialog *ngIf="isDeleteDialogOpen" [message]="'¿Estás seguro de que deseas eliminar el menu ' + menu.name + '?'"
        (confirm)="confirmDelete()" (cancel)="closeDeleteDialog()">
    </app-dialog>
    <app-modal [isOpen]="isEditDialogOpen" (close)="closeEditDialog()">
        <app-menu-form [initialValues]="initialMenuValues" (submitMenu)="onSubmitMenu($event)"></app-menu-form>
    </app-modal>
</div>