<section class="section">
    <div class="container section__content">
      <div class="section__content-header section__content-header--menu-img">
        <div class="section__content-container">
          <img src="./logo.png" />
          <h1>Gusteau's Menu Details</h1>
          <button class="btn">Add Menu</button>
      </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Menu ID</th>
            <th>Menu Name</th>
            <th>Description</th>
            <th>Dishes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pastas</td>
            <td>Menu de pastas italianas</td>
            
            <td>
              <div class="dishes-list">
                <div class="dish-item">
                  <strong>Pastas de Arroz</strong> - $581.52 (Ordered: 101)
                </div>
                <div class="dish-item">
                  <strong>Pastas de queso</strong> - $15.99 (Ordered: 3)
                </div>
                <div class="dish-item">
                  <strong>Pastas de Tomate</strong> - $22.50 (Ordered: 2)
                </div>
              </div>
            </td>
            <td class="actions">
              <button class="btn btn-edit">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
           <tr>
            <td>2</td>
            <td>Rissottos</td>
            <td>Menu de Rissottos</td>
          
            <td>
              <div class="dishes-list">
                <div class="dish-item">
                  <strong>Rissotto de Queso</strong> - $581.52 (Menu 1, Ordered: 101)
                </div>
                <div class="dish-item">
                  <strong>Rissotto de Tomate</strong> - $15.99 (Menu 2, Ordered: 3)
                </div>
                <div class="dish-item">
                  <strong>Rissoto de Canela</strong> - $22.50 (Menu 1, Ordered: 2)
                </div>
                
                <!-- More dish items can be added here -->
              </div>
            </td>
            <td class="actions">
              <button class="btn btn-edit">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Lasagna </td>
            <td>Menu de Lasagnas</td>
            <td>
              <div class="dishes-list">
                <div class="dish-item">
                  <strong>Lasagna de Carne</strong> - $581.52 (Ordered: 101)
                </div>
                <div class="dish-item">
                  <strong>Lasagna Mixta</strong> - $15.99 (Ordered: 3)
                </div>
                <div class="dish-item">
                  <strong>Lasagna de Champinon</strong> - $22.50 (Ordered: 2)
                </div>
              </div>
            </td>
            <td class="actions">
              <button class="btn btn-edit">Edit</button>
              <button class="btn btn-delete">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </section>