<div [formGroup]="form()!">
    <div class="form__group" [formArrayName]="formArrayname()!">
        <div class="form__group-name"  [formGroupName]="field()!.index">
            <label class="form__field__label">{{ field()?.field!.label }}</label>
            <div class="form__field">
                <input
                [id]="field()?.field!.key"
                [type]="field()?.field!.type"
                [formControlName]="field()!.field!.key"
                [placeholder]="field()?.field!.placeholder"
                class="form__field__input"
                />
                <div class="form__field__options">
                    <div class="form__field__buttons-container">
                        <button class="form__button" (click)="decrementQuantity()">-</button>
                        <span>{{quantityControl.value}}</span>
                        <button class="form__button" (click)="incrementQuantity()">+</button>
                    </div>
                    <button class="form__button form__button--delete" (click)="onDeleteClick()">
                        <svg aria-hidden="true">
                            <use xlink:href ="images/svg/delete.svg#delete-id"></use>
                        </svg>  
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>