@use "../../../ui/styles/mixins.scss" as mixins;
@use "../../../ui/styles/variables.scss" as vars;

.section__main{
    padding-bottom: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.title__home {
    text-align: center;
    color: vars.$accent;
    font-weight: 500;
    font-size: 3rem;
    padding: 6rem 0 20px 0;
    margin: 0;
  }

.tabs__container {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;

  
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{vars.$tab-count * 60px};
}

.tabs__buttons {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}


.tabs__buttons li {
  box-sizing: border-box;
  flex: 1;
  width: #{100% / vars.$tab-count};
  padding: 0 10px;
  display: flex;    
justify-content: center;
  text-align: center;
}
.tabs__buttons li span {
  transition: all 0.3s ease-in-out;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    outline: 0;
    color: lighten(vars.$color-menu, 15%);
    svg {
      fill: lighten(vars.$color-menu, 15%);
    }
  }
}
.tabs__buttons li svg {
justify-content: center;
align-items: center;
}

.tabs__buttons li.active {
  border-color: #007bff;
  background-color: #f8f9fa;
  color: vars.$color-menu;
  .slider__indicator {
    background: vars.$color-menu;
    border-radius: 1px;
    height: 4px;
    width: 100%;
  }
}

.tab__content {
  padding: 20px;
  border: 1px solid #ccc;

}

.slider {
  position: relative;
  width: #{100% / vars.$tab-count};
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  &__indicator {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: vars.$indicator-height;
    background: vars.$accent;
    border-radius: 1px;
  }
}
