<menu class="menu footer__menu" role="menubar">
    <div class="footer__menu-content">
      <li class="menu__item">
        <a href="">
          <span>Facebook</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="">
          <span>Instagram</span>
        </a>
        </li>
        
      <li class="menu__item">
        <a href="">
          <span>Twitter</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="">
          <span>
            Tiktok
          </span>
        </a>
      </li>
    </div>
</menu>