<section class="sidebar">
  <mat-icon
    aria-hidden="false"
    aria-label="menu"
    fontIcon="cancel"
    class="sidebar__close"
  ></mat-icon>
  <h1 class="sidebar__title">Restaurant Management</h1>
  <menu class="sidebar__menu">
    @for(item of navItems; track $index) {
    <li class="sidebar__li">
      <a class="sidebar__link" [routerLink]="item.path">
        <mat-icon
          aria-hidden="false"
          aria-label="{item.name} + 'icono'"
          fontIcon="{{ item.icon }}"
          class="sidebar__icon"
        ></mat-icon>

        <span class="sidebar__name">{{ item.name }}</span>
      </a>
    </li>
    }
  </menu>
</section>
