<section class="menu">
  <div class="menu__container">
    <header class="menu__header">
      <h1 class="menu__title">Menús Disponibles</h1>
      <p class="menu__description">
        Descubre nuestros menús y los deliciosos platillos que los componen.
      </p>
      <a routerLink="/add-menu" class="menu__add-button">
       <i>
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24" style="fill: rgba(47, 45, 43, 1);transform: rotate(180deg);"><path d="M4 22h12v-2H4V8H2v12c0 1.103.897 2 2 2z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm-2 9h-3v3h-2v-3h-3V9h3V6h2v3h3v2z"></path></svg>
      </i>
      </a>
    </header>
    <app-menu-table></app-menu-table>
  </div>
</section>
