<button (click)="openModal()" class="container-modal__trigger">
  <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
</button>

@if (isModalOpen) {
<div class="container-modal">
  <div class="container-modal__fondo" (click)="closeModal()">
    <div class="container-modal__contenido" (click)="$event.stopPropagation()">
      <mat-icon
        aria-hidden="false"
        fontIcon="close"
        class="container-modal__close"
        (click)="closeModal()"
      ></mat-icon>

      <div class="container-modal__body">
        <img
          src="../../../../public/dishes/bebida2.jpg"
          alt="Logo"
          class="container-modal__logo"
        />

        <div class="container-modal__container-form">
          <h3 class="container-modal__title">
            {{ formConfig.title }}
          </h3>
          <app-form-update
            [config]="formConfig"
            [id]="id"
            [data]="data"
          ></app-form-update>
        </div>
      </div>
    </div>
  </div>
</div>
}
