@use '../../../ui/style/variables.scss' as variables;
@use '../../../ui/style/mixins.scss' as mixins;

.get-by-id {

    &__article {
        @include mixins.form(center, 40px, 30px);
        @include mixins.styleContainer(#615A57, variables.$colorWhite, 30px, 20px);
        width: 320px;
        height: 200px;
        margin-top: 5%;
        margin-left: 40%;
    }

    &__title {
        font-size: 17px;
    }

    &__label {
        display: flex;
        gap: 10px;
    }

    &__input {
        border-radius: 5px;
        width: 150px;
        height: 25px;
        border: 1px solid #ccc;

        &:focus {
            outline: none;
            border-color: white;
            box-shadow: 0 0 10px black;
        }
    }

    &__button {
        border: 1px solid #ccc;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        @include mixins.styleContainer(#F0E7E4,#000000, 7px 15px 7px 15px,40px);
        &:hover{
            @include mixins.styleContainer(#888888,#FFFFFF, 7px 15px 7px 15px,40px);
        }
        margin-top: 10px;
        margin-left: 30%;
    }

    &__client-info{
        margin-top: 80px;
        @include mixins.styleContainer(#615A57, variables.$colorWhite, 30px, 20px);
        width: 400px;
        margin-left: 38%;
    }

    &__client-title{
        text-align: center;
        padding-bottom: 20px;
        font-size: 23px;
    }

    &__client-item{
        list-style: none;
        font-weight: 500;
        
    }

}