@if (transactions()!.length > 0) {
<div role="table" aria-label="Transaction History">
  <table class="transaction-table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Fee</th>
        <th scope="col">Net amount</th>
      </tr>
    </thead>
    <tbody>
      @for (transaction of transactions(); track $index) {
      <tr role="row">
        <td role="cell">
          {{ transaction.timestamp | date : "dd/MM/yyyy hh:mm a" }}
        </td>
        <td role="cell" [innerHTML]="getTypeName(transaction.type)"></td>
        <td role="cell" class="transaction-table__cost">
          {{ transaction.fee | currency : "USD" : "symbol" : "1.0-2" }}
        </td>
        <td
          role="cell"
          [ngClass]="{
            'transaction-table__plus': getType(transaction.type) == 'deposit',
            'transaction-table__cost': getType(transaction.type) == 'withdrawal'
          }"
        >
          {{ transaction.netAmount | currency : "USD" : "symbol" : "1.0-2" }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
<div class="empty__container" role="alert" aria-live="polite">
  <p>There are no transactions for this account</p>
</div>
}
