@use "../../../ui/styles/variables.scss" as variables;
@use "../../../ui/styles/mixins.scss" as mixins;

.main {
  &__container {
    @include mixins.flex-center();
  }

  &__form {
    @include mixins.flex-center(column, center, center, 30px);
    width: 25%;
    padding: 20px;
    background-color: variables.$bg-color-1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-submit {
      padding: 10px 20px;
      font-size: 1.3rem;

      color: variables.$secondary-color;
      background-color: variables.$primary-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:enabled:hover {
        background-color: variables.$primary-color-dark;
        transform: translateY(-2px);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
