@use "../../ui/styles/mixins.scss" as mixins;
@use "../../ui/styles/variables.scss" as variables;



.form {
  width: 100%;
  max-width: 500px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 40vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$green;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$white;
    text-align: center;
  }

  &__message {
    color: variables.$white;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: variables.$white;
    background-color: variables.$primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$secondary-color;
    }
  }
}

