<form [formGroup]="form()" class="form" (ngSubmit)="submit" aria-labelledby="form-title"
  aria-describedby="form-message">
  <h3 id="form-title" class="form__title">{{ title() }}</h3>

  <div class="form__group">
    @for (control of controls(); track $index) {
    <app-input [typeOf]="control.type" [span]="control.text" [placeholder]="control.placeholder" [formGroup]="form()"
      [formControlName]="control.controlName" [options]="control.options" [totalPrice]="totalPrice()">
    </app-input>
    }
  </div>

  <h3 id="form-message" class="form__message">{{ message() }}</h3>
  <button class="form__button" [attr.aria-label]="action()">{{ action() }}</button>
</form>