<div [formGroup]="formGroup" class="form">
    @for(field of formFields; track $index) {
    @if(field.label) {
    <label for="{{field.label}}">{{field.label}}</label>
    }
    <input [id]="field.name" [type]="field.type" [formControlName]="field.name" [placeholder]="field.placeholder || ''"
    
    value="{{field.value}}"
    class="form-control"
        [ngClass]="{ 'is-invalid': formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched }" />
    <div class="invalid-feedback">
        @if(field.validators) {
        @for (item of field.validators; track $index) {
        @if (item === 'required') {
        <span>Este campo es obligatorio</span>
        }
        @if (item === 'minLength') {
        <span>El campo debe tener al menos {{formGroup.get(field.name)?.errors}} caracteres</span>
        }
        }

        }
    </div>
    }

</div>