@if (isLoading) {
<div class="loader"></div>
}
@if (isError) {
<div class="error">
    <h2>Error</h2>
    <p>{{isError}}</p>
</div>
}

@if (!isLoading && !isError) {
<div class="card">
    <h2>{{title}}</h2>
    <table class="styled-table">
        <thead>
            <tr>
                @for (item of columnKeys; track $index) {
                <th>{{item}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of data; track $index) {
            <tr>
                @for(key of columnKeys; track $index) {
                <td>{{ isArray(item[key]) ? item[key].length : item[key] }}</td>
                }
                <div class="actions__items">
                    @for(image of images; track $index) {
                    <button class="actions__button">
                        <svg width="30px" height="30px" src="assets/icons/form-svgrepo-com.svg" alt="logo">
                            <use [attr.xlink:href]="images[$index]"></use>
                        </svg>
                    </button>
                    }
                </div>
            </tr>
            }
        </tbody>
    </table>
</div>
}