@if (isLoading) {
<div class="loader"></div>
}
@if (isError) {
<div class="error">
    <h2>Error</h2>
    <p>{{isError}}</p>
</div>
}

@if (!isLoading && !isError && data && columnKeys) {
<div class="card">
    <h2>{{title}}</h2>
    <table class="styled-table">
        <thead>
            <tr>
                @for (item of columnKeys; track $index) {
                <th>{{item}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of data; track $index) {
            <tr>
                @for(key of columnKeys; track $index) {
                <td>{{ isArray(item[key]) ? item[key].length : item[key] }}</td>
                }
                <div class="actions__items">
                    <app-buttons [icon]="images[0]" [rowIndex]="$index"
                        (buttonClick)="deleteData(item.id)" ariaLabel="Remove"></app-buttons>
                    <app-buttons [icon]="images[1]" [rowIndex]="$index"
                        (buttonClick)="updateData(item.id)" ariaLabel="Edit"></app-buttons>
                </div>
            </tr>
            }
        </tbody>
    </table>
</div>
}