<app-tabs title="Order Data " [tabs]="tabsList">
    <div  class="tab__content" tabContent0>

        <!-- <form [formGroup]="clientForm" (ngSubmit)="submit()">
            
            <app-form [formFields]="fields" [formGroup]="clientForm">
            </app-form>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form> -->
    </div>
    <div class="tab__content" tabContent1>
        <app-table title="Orders" [data]="orderData" (deleteId)="deleteOrder($event)"
            (updateId)="updateOrder($event)"></app-table>
    </div>

</app-tabs>
