<app-tabs title="Order Data " [tabs]="tabsList">
    <div tabContent0>

        <!-- <form [formGroup]="clientForm" (ngSubmit)="submit()">
            
            <app-form [formFields]="fields" [formGroup]="clientForm">
            </app-form>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form> -->
    </div>
    <div tabContent1>
        <!-- <app-table title="Clients" [data]="listClients" (deleteId)="deleteClient($event)"
            (updateId)="getClient($event)"></app-table> -->
    </div>

</app-tabs>
